# ================================
# Fichiers binaires et objets
# ================================
*.o
*.ko
*.obj
*.elf
*.bin
*.hex
*.i*86
*.x86_64
*.app
*.out

# Linker output
*.ilk
*.map
*.exp

# Précompilés / Headers
*.gch
*.pch

# Bibliothèques
*.lib
*.a
*.la
*.lo

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Fichiers debug
*.dSYM/
*.su
*.idb
*.pdb
*.dwo

# Kernel modules
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# ================================
# Dossiers de build
# ================================
Debug/
Release/

# ================================
# Fichiers de configuration IDE / CubeMX
# ================================
.settings/
.cproject
.project
*.launch
*.mxproject
.launches/

# ================================
# Fichiers de backup / temporaires
# ================================
*~
*.bak

#Idea

.idea/
.idea/*
/.idea/*